<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FromEmail" value="uniontactics@aliyun.com"/>
    <add key="FromName" value="IPReportService"/>
    <add key="Server" value="smtp.aliyun.com"/>
    <add key="UserName" value="uniontactics@aliyun.com"/>
    <add key="Password" value="sike1987qq"/>
    <add key="To" value="yidane@163.com"/>
    <add key="ServiceName" value="IPAddress Reporter"/>
    <add key="ServiceDescription" value="自动汇报IP地址"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>